body{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/385947.jpg);
  background-size: cover;

}
h1{
    color: white;
}
li{
  color: white;
}
label{
  color: white;

}
